.story_pictures{
    background-color: darkseagreen;
    grid-column: full-start / col-end 4;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,1fr);
    //align-items: center;
    @media only screen and(max-width:$bp-medium){
        grid-column: 1/-1;
        padding: 5%;
       

    }
    

    .story_img_1{
        width: 100%;
        grid-column: 2 / 6 ;
        grid-row: 2 / 6;
        box-shadow: 0 2rem 5rem rgba(black , .2);
        @media only screen and(max-width:$bp-medium){
          //  z-index: 99;
            grid-column: 1/5;
            grid-row: 1/-1;
            height: 100%;
            width:100%;
            
     
         }
       

    }
    .story_img_2{
        width:110%;
        grid-column: 4 / 8 ;
        grid-row: 5 /6 ;
        z-index: 99;
        box-shadow: 0 2rem 5rem rgba(black , .2);
        @media only screen and(max-width:$bp-medium){
            width:90%;
            grid-row: 2/8;
            grid-column: 4/8;
           
     
         }
       
       
        

    }
}
.story_content{
    background-color: white;
    grid-column: col-end 4 / full-end;
    padding: 5rem 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    //line-height: 1;
    @media only screen and(max-width:$bp-medium){
        grid-column: 1/-1;
        grid-row: 5/6;
       align-items: center;
        //padding: 2rem 4vw;

    }
    h3{
        background-color: inherit;
        color:darkseagreen;
        font-size: 1.6rem;
        text-transform: uppercase;
        //line-height: 1;
        margin-bottom: -2%;
        @media only screen and(max-width:$bp-medium){
            font-size: 2.5rem;
    text-align: center;
    align-items: center;
        }
       
    }
    h2{
        font-size: 3.8rem;
        font-style: italic;
        background-color: inherit;
       // line-height: 1;
       @media only screen and(max-width:$bp-large){
        font-size: 2.5rem;

    }
    @media only screen and(max-width:$bp-medium){
        font-size: 3rem;
       

    }
    }
    p{
        background-color: inherit;
        font-size: 1.2rem;
        margin-top: -5%;
        margin-bottom: 5%;
        @media only screen and(max-width:$bp-medium){
            margin-top: -2%;
    
        }
    }
    .btn{
        background-color: darkseagreen;
        color:white;
        border: none;
        border-radius: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 1.8rem 3rem;
        cursor: pointer;
        transition: all .5s;
        @media only screen and(max-width:$bp-large){
           padding: 1.5rem 1.5rem;
           font-size: 1.2rem;
           margin-bottom: 18%;
    
        }
        @media only screen and(max-width:$bp-medium){
            padding: 1.2rem 1.2rem;
            font-size: 1.2rem;
            width:32%;
    
        }
        &:hover{
            background-color: rgb(92, 151, 92);
        }
    }
}